.primary_btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px 10px;
    background: #111;
    color: #fff;
    min-width: 220px;
    border-radius: 5px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}

.outline_btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px 10px;
    border:1px solid white;
    color: #111;
    min-width: 220px;
    border-radius: 5px;
    font-size: 16px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
